{{> header}}
  <div class="gradient-bar"></div>
  <div class="content">
    <div class="main-wrapper">
      <section class="sect-a blogs-page">
          {{> thumbGrid }}
      </section>
      <section class="sect-b blogs-page ">

      </section>
    </div>
  </div>
{{>footer}}
  <script src="/js/app.js"></script>
  <script src="/js/funky.js"></script>
</body>
</html>
