{{> header}}
  <div class="gradient-bar"></div>
  <div class="content">
    <div class="main-wrapper">
      <section class="sect-a projects-page">
        <h1>All Projects</h1>
        <p>Listed projects that I've been working on:</p>
        <div class="select-filters projects-filters">
          Showing <select class="select-css" name="showStatus" id="showStatus" data-type="projects">
            <option value="All">All</option>
            <option value="Incomplete">Incomplete</option>
            <option value="Completed">Completed</option>
            </select>
          projects with the 
          <select class="select-css" name="sortBy" id="sortBy">
            <option value="Desc">Latest Top</option>
            <option value="Asc">Oldest Top</option>
          </select>
        </div>
        {{> pagination }}
        {{> gridService cont=projects}} 
      </section>

    </div>
  </div>

{{>footer}}
  <script src="/js/app.js"></script>
  <script src="/js/funky.js"></script>
  <script src="/js/gridService.js"></script>
</body>
</html>