  <footer>
    <div class="main-wrapper">
     <p>All Rights Reversed! 2019</p>
     <div class="crane-kudos">Crane Icon made by <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
    </div>
  </footer>
  <script src="/js/app.js"></script>
  <script src="/js/funky.js"></script>
</body>
</html>