<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/funky.css">
  <link rel="stylesheet" href="/css/gridService.css">
  <script src="https://kit.fontawesome.com/e4b74b4e67.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:200,400,700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="main-wrapper">
      <a href="/" class="home">
        <img src="/img/profilepic.jpg" alt="DmVie">
      </a>
      <h1>VIE</h1>
      <i class="fas fa-bars"></i>
      <nav class="noMob">
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </nav>
    </div>
  </header>