        
  <div class="links-bar">
    <span>Results: {{count}}</span>
    <ul>Pages: {{{linksHTML}}} </ul>
  </div>
  <ul>
    {{!-- This either needs to loop over blog or projects data and needs to know which one at this poit  --}}
    {{#each cont}}
     {{!-- Need to align the styles can't be blogs-thumb-list,   just thumb-list --}}
    <li class="blogs-thumb-list"> 
        {{> (whichGrid this.type) }}        
    </li>
    {{/each}}
  </ul>


{{!-- we have access to blogs and projects at this point but don't know how to tell it which one to render
  optoin 1 implement a if type === 'blogs ' elseif type === 'projects'  logic


  --}}

