        
        <div class="links-bar">
          <span>Results: {{count}}</span>
          <ul>Pages: {{{linksHTML}}} </ul>
        </div>
        <ul>
          {{#each blogs}}
          <li class="blogs-thumb-list">
              {{> (whichGrid this.type) }}
          </li>
          {{/each}}
        </ul>

        {{blogs.[0].title}}